REDIS_URL=redis://localhost:6379
MONGO_URL=mongodb://localhost:27017
MONGO_DB_NAME=tessera
TENANT_DB_NAME=tenants
REQUESTS_CACHE_SIZE=10
# uuid v4
TENANT_ID=
UPSTREAM_URL=http://localhost:9090
PORT=62197
TYPESAFE_API_KEY=
